body {background-color: #89CFF0;}

header {padding: 20px;
        background-image: url("images/discussion.png");
        background-size: 100%;
        Background-repeat: no-repeat;
        
        color: white;
        text-align: center;}
        
nav {background-color: #1741AF;margin-top: 5px;}
    
.nav1 ul {list-style-type: none;
        overflow: hidden;
        margin-bottom: 5px;
        margin-top: 5px;}
.nav1 li {display: inline;}
.nav1 li a {padding: 15px;
       margin-inline: 20px;
        text-decoration: none;
        color: white;}
.nav1 li a:hover{color: #3fd2d2;}
.nav1 a{margin-right: 50px;
        text-decoration: none;
        color: white;}
.nav1 a:hover{color: #3fd2d2;}
.nav1 i{color: #000075; font-size: 35px; margin-right:10px}

main {}
    
        .div1{
        display: block;
        background-image: url("images/background.jpeg");
        background-size: 100%;
        Background-repeat: no-repeat;
        height: 600px;
        width: 100%;
        }

        .div1 b {display: block;
        color: white;
        text-align: center;
        font-size: 500%;
        }

    
        .div1 ul {list-style-type: none;
                overflow: hidden;
                padding: 20px;
                margin-bottom: 5px;
                margin-top: 5px  ;
                
        }


        .div1 li {display: inline; border: solid 1px white; border-radius: 5px; padding: 10px;;}
        .div1 li a {padding: 20px;
                text-decoration: none;
                color: white;}
        .div1 li a:hover{color: #3fd2d2;}

        .div2 section{
                background-color: #89CFF0;
        }

        .message{
                margin:10px 0;
                width: 100%;
                border-radius: 5px;
                padding:10px;
                text-align: center;
                background-color: var(--red);
                color:var(--white);
                font-size: 20px;
        }

        .update-profile{
                min-height: 100vh;
                background-color: var(--light-bg);
                display: flex;
                align-items: center;
                justify-content: center;
                padding:20px;
             }
             
             .update-profile form{
                padding:20px;
                background-color: var(--white);
                box-shadow: var(--box-shadow);
                text-align: center;
                width: 700px;
                text-align: center;
                border-radius: 5px;
             }
             
             .update-profile form img{
                height: 200px;
                width: 200p;
                border-radius: 50%;
                object-fit: cover;
                margin-bottom: 5px;
             }
             
             .update-profile form .flex{
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
                gap:15px;
             }
             
             .update-profile form .flex .inputBox{
                width: 49%;
             }
             
             .update-profile form .flex .inputBox span{
                text-align: left;
                display: block;
                margin-top: 15px;
                font-size: 17px;
                color:var(--black);
             }
             
             .update-profile form .flex .inputBox .box{
                width: 100%;
                border-radius: 5px;
                background-color: var(--light-bg);
                padding:12px 14px;
                font-size: 17px;
                color:var(--black);
                margin-top: 10px;
                }
        

.update-profile .btn{
   background-color: #3498db;
}

.update-profile .btn:hover{
   background-color: #2980b9;
}
.update-profile .message{
        margin:10px 0;
        width: 100%;
        border-radius: 5px;
        padding:10px;
        text-align: center;
        background-color: #e74c3c;
        color:#fff;
        font-size: 20px;
}